{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Add Record</h1>
<div class="col-md-6 offset-md-3 p-3">
  <form method="POST" action="">
    {% csrf_token %} {% comment %} {%if form.errors%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Your form has Errors {%for field in form%} {%if field.errors%}
      {{field.errors}} {%endif%} {%endfor%}
    </div>
    {%endif%} {% endcomment %} {{form.as_p}}
    <div class="d-flex mb-3 justify-content-center">
      <button type="submit" class="btn btn-primary justify-center">
        Add New Record
      </button>
    </div>
  </form>
</div>

{% endblock content %}
